@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  font-family: "Roboto";
}

:root {
  --brd-thin: 1px solid rgb(222, 224, 236);
  --brd-fat: 1px solid rgb(194, 193, 193);
  --brd-red: rgb(255, 60, 60);
  --brd-green: #6eaa4b;

  --txt-sdw: 1px 1px 9px rgb(27, 46, 58);

  --clr-blue: #387ce2;
  --clr-light-blue: rgba(56, 124, 226, 0.9);
  --clr-opacity-blue: rgba(56, 124, 226, 0.4);
  --clr-mid-blue: #2b61b1;
  --clr-gray: #cfd2de;
  --clr-mid_gray: rgba(117, 128, 141, 0.7);
  --clr-dark_gray: #75808d;
  --clr-hghlt: #79838a;
  --clr-hvr: rgb(225, 230, 232);
  --clr-white: rgb(255, 255, 255);
  --clr-black: rgb(0, 0, 0);
  --clr-dark: #202933;
  --clr-dark-blue: #12171e;

  --clr-chat-background: #eceefa;
  --clr-light-gray: #bbc5d0;

  --brd-sdw-green: rgba(92, 148, 60, 0.9);
  --ico-sz: 40px;

  /* andre colors*/
  --bg-gray-1: #c4c4c4;
  --bg-gray-2: #ededed;
  --bg-gray-3: #ffffff;
}

/* Andre */

/* globals - start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  /* background-color: white; */
}

.home a,
.home a:visited,
.home a:focus .home a:active {
  text-decoration: none;
  color: black;
}

/* globals - end */

.home {
  height: 582px;
  width: 1440px;
  margin: 0 auto;
  background-color: var(--bg-gray-1);
  padding: 26px;
}

.home .home-container {
  display: flex;
  justify-content: center;
}

.home .home-award {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 513px;
  height: 458px;
  padding: 22px 25px;
  background-color: var(--bg-gray-2);
}

.home .home-award-title-bg {
  position: absolute;
  display: block;
  width: 355px;
  height: 50px;
  background-color: var(--bg-gray-3);
  z-index: 0;
  left: 25px;
  top: 22px;
}

.home .home-award-title {
  position: relative;
  display: block;
  width: 378px;
  height: 26px;
  z-index: 1;
  margin-top: 12px;
  margin-left: 48px;
  font-size: 18px;
}

.home .home-award-content {
  align-content: center;
  width: 378px;
  height: 205px;
  margin-left: 12px;
  /* margin-top: -6px; */
  font-family: Roboto;
  font-size: 48px;
  font-weight: 400;
  line-height: 56.25px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.home .home-award-content span {
  display: block;
  margin-top: 18px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.home .home-award-link {
  display: inline-block;
  width: 195px;
  height: 51px;
  background-color: var(--bg-gray-3);
  padding: 13px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  margin-bottom: 21.5px;
}

.home .home-mobile {
  width: 286px;
  height: 458px;
  margin-left: 154px;
  border-radius: 47px;
  background-color: var(--bg-gray-2);
}

.home .home-mobile div {
  width: 232px;
  height: 205px;
  margin: 275px auto 0 auto;

  font-family: Roboto;
  font-size: 30px;
  font-weight: 400;
  line-height: 35.16px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.home .home-mobile div span {
  display: block;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.09px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}

.home .home-mobile div span:first-child {
  margin-top: 18px;
}

.home .home-mobile div a {
  padding: 6px;
  display: block;
  margin: 1rem auto 0 auto;
  width: 195px;
  height: 51px;
  text-align: center;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 400;
  line-height: 28.13px;
  text-align: center;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  background-color: var(--bg-gray-3);
}

/* 




 */
